#prompt-button {
    display: block;
    margin: 50px auto 100px auto;
}

#container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto auto auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: blue;
    height: calc(1/10 * 100%); */
    padding: none;
    margin: none;
}

.hovered {
    background-color: yellow;
}